<body class="index-body">

  <div class="notice">
    <%= flash[:notice] %>
  </div>

  <h1>Books</h1>


  <table>
    <thead>
      <tr class="table-title">
        <th class="ti">Title</th>
        <th class="bo">Body</th>
        <th class="sh"></th>
        <th class="ed"></th>
        <th class="de"></th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
      <tr class="table-item">
        <td class="ti">
          <%= book.title %>
        </td>
        <td class="bo">
          <%= book.body %>
        </td>
        <td class="sh">
          <%= link_to "Show", book_path(book.id), class: "link" %>
        </td>
        <td class="ed">
          <%= link_to "Edit", edit_book_path(book.id), class: "link" %>
        </td>
        <td class="de">
        <%= link_to "Destroy", book, method: :delete, data: { confirm: "Are you sure?" }, class: "link" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <h2 id="nb">New book</h2>

  <% if @book.errors.any? %>
    <%= @book.errors.count %> errors prohibited this book from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="create">
    <%= form_with model: @book, url: '/books', method: :post do |f| %>

    <div>
      <p>Title</p>
      <%= f.text_field :title, class: "fl" %>
    </div>

    <div>
      <p>Body</p>
      <%= f.text_area :body, class: "fl" %>
    </div>

      <%= f.submit ' Create Book ' %>
    <% end %>
  </div>
</body>